{% extends "base.html" %}
{% load static %}

{% block banner %}
<section class="banner banner-usuarios">
  <div class="banner-content"></div>
</section>
{% endblock banner %}

{% block contenido %}
<div class="container">
  <div class="form-card">
    <h2>Iniciar Sesión</h2>
    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}"> 
      <div class="mb-3">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% for error in form.username.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.password.label_tag }}
        {{ form.password }}
        {% for error in form.password.errors %}
          <div class="text-danger small">{{ error }}</div>
        {% endfor %}
      </div>

      <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary btn-form">Iniciar Sesión</button>
      </div>
    </form>
  </div>

  <p class="text-center mt-3">
    ¿No tienes cuenta?
    <a href="{% url 'usuarios:registro' %}">Regístrate aquí</a>
  </p>
</div>
{% endblock contenido %}
