{% extends "base.html" %}

{% load static %}

{% block banner %}
<section class="banner banner-usuarios">
  <div class="banner-content">
  </div>
</section>
{% endblock banner %}

{% block contenido %}

<div class="container my-5">
  <h2 class="text-center text-primary mb-4">Perfil de Usuario</h2>
  <div class="card shadow-sm p-4 mx-auto text-center" style="max-width: 600px;">
    <div class="d-flex justify-content-center">
      <img class="rounded-circle border border-3 border-primary mb-3"
         src="{% static 'img/avatar.png' %}" alt="Avatar" width="120" height="120">
    </div>
    

    <ul class="list-group text-start mb-3">
      <li class="list-group-item"><strong>Username:</strong> {{ usuario.username }}</li>
      <li class="list-group-item"><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</li>
      <li class="list-group-item"><strong>Email:</strong> {{ usuario.email }}</li>
      <li class="list-group-item"><strong>Teléfono:</strong> {{ usuario.telefono }}</li>
    </ul>

    <div class="d-flex justify-content-center gap-2 flex-wrap">
      <a href="{% url 'usuarios:perfil_editar' %}" class="btn btn-primary">Editar</a>
      <a href="{% url 'usuarios:perfil_eliminar' %}" class="btn btn-danger">Eliminar cuenta</a>
    </div>
  </div>
</div>

{% endblock contenido %}
