{% extends "base.html" %}
{% load static %}

{% block banner %}
<section class="banner banner-usuarios">
  <div class="banner-content"></div>
</section>
{% endblock banner %}

{% block contenido %}
<div class="container">
  <div class="card-perfil text-center">
    <div class="d-flex justify-content-center">
      <img class="rounded-circle mb-3"
          src="{% static 'img/avatar.webp' %}"
          alt="Avatar" width="120" height="120">
    </div>

    <ul class="list-group text-start mb-3">
      <li class="list-group-item"><strong>Username:</strong> {{ usuario.username }}</li>
      <li class="list-group-item"><strong>Nombre:</strong> {{ usuario.first_name }} {{ usuario.last_name }}</li>
      <li class="list-group-item"><strong>Email:</strong> {{ usuario.email }}</li>
      <li class="list-group-item"><strong>Teléfono:</strong> {{ usuario.telefono }}</li>
    </ul>

    <div class="d-flex gap-2 justify-content-center flex-wrap">
      <a href="{% url 'usuarios:perfil_editar' %}" class="btn btn-primary btn-form">Editar</a>
      <a href="{% url 'usuarios:perfil_eliminar' %}" class="btn btn-danger btn-form">Eliminar cuenta</a>
    </div>
  </div>
</div>
{% endblock contenido %}
